{{!-- Set the blog post --}}
<div class ="row mb-4">
        <div class = "col md-5">
            <h2>
                {{blogPost.title}}
            </h2>
            <p>
                {{blogPost.post_text}}
            </p>
            <p>
                Written by {{blogPost.user.username}} on {{format_date blogPost.date_created}}
            </p>
        </div>
</div>
{{!-- iterate through each comment --}}

{{#each blogPost.comments as |comment|}}
<div class ="row mb-4">
    <p>{{comment.comment_text}}</p>
    <p>{{comment.commenter}} on {{format_date comment.date_created}}</p>
</div>
{{/each}}