{{!-- Set the blog post --}}
<div class ="row mb-4">
        <div class = "col md-5">
            <h2>
                {{blogPost.title}}
            </h2>
            <p>
                {{blogPost.post_text}}
            </p>
            <p>
                Written by {{blogPost.user.username}} on {{format_date blogPost.date_created}}
            </p>
        </div>
</div>
{{!-- iterate through each comment --}}

{{#each blogPost.comments as |comment|}}
<div class ="row mb-4">
    <p>{{comment.comment_text}}</p>
    <p>{{comment.commenter}} on {{format_date comment.date_created}}</p>
</div>
{{/each}}

{{#if logged_in}}
<button type="button" class="btn btn-secondary">+ New Comment</button>
<form class="comment-form">
  <div class="form-group">
    <label for="blog-content">New Comment</label>
    <input type="text" class="form-control" id="new-comment" placeholder="Enter Comment">
  </div>
  <button type="submit" class="btn btn-primary" id="submit-comment" data-id="{{blogPost.id}}">Submit</button>
</form>
<script src="/js/blogpost.js"></script>
{{/if}}