<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>
<div class="row my-posts" id="current-post">
{{#each posts as |my_post|}}
  <div class ="row mb-4">
    <div class = "col md-5">
        <h2>
            {{!-- make into a link to the individual blogpost after testing --}}
            {{my_post.title}}
        </h2>
        <p id="post{{my_post.id}}">
            {{my_post.post_text}}
        </p>
        <form class="update-form hidden" id="form{{my_post.id}}">
          <div class="form-group">
            <input type="text" class="form-control" id="new-comment-{{my_post.id}}" value="{{my_post.post_text}}">
          </div>
          <button type="submit" class="btn btn-warning" id="save-update" data-id="{{my_post.id}}">Save Update</button>
        </form>
        <p>
            Written by me on {{format_date my_post.date_created}}
        </p>
        <button class="btn btn-sm btn-warning" data-id="{{my_post.id}}" id="update">UPDATE</button>
        <button class="btn btn-sm btn-danger" data-id="{{my_post.id}}" id="delete">DELETE</button>


    </div>
  </div>
{{/each}}
</div>

<a href="/dashboard/new"><button type="button" class="btn btn-secondary">+ New Post</button></a>
<script src="/js/dashboard.js"></script>