{{!-- landing page, shows all blogposts --}}

{{#each posts as |blogpost|}}
<div class ="row mb-4">
    <a href="/post/{{blogpost.id}}">
        <div class = "col md-5">
            <h2>
                {{!-- make into a link to the individual blogpost after testing --}}
                {{blogpost.title}}
            </h2>
            <p>
                {{blogpost.post_text}}
            </p>
            <p>
                Written by {{blogpost.user.username}} on {{format_date blogpost.date_created}}
            </p>
        </div>
    </a>
</div>
{{/each}}